#socket-room {
  height: 20em;
  overflow-x: hidden;
}
#socket-room .admin {
  color: #35be00;
}
#socket-room .user {
  color: #2ba6cb;
}
#socket-room .cmd {
  color: #daa500;
}
#socket-room .whisper {
  color: #aaaaaa;
}
#socket-room .shout {
  font-weight: bold;
}

#socket-users li {
  list-style-type: none;
}
#socket-users li.admin {
  color: #35be00;
}
#socket-users li.user {
  color: #2ba6cb;
}
