#socket-room
	height: 20em
	overflow-x: hidden
	.username
		color: #2BA6CB
	.cmd
		color: #DAA500
	.whisper
		color: #AAA
	.shout
		font-weight: bold

#socket-users li
	list-style-type: none
	&:first-child
		color: #35BE00